.App {
  display: flex;
  flex-direction: column;
  gap: 5em;
  text-align: center;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.listInput {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2em;
}

.list {
  display: flex;
  flex-direction: column;

  li {
    list-style: none;
  }
}

button {
  width: 100px;
  padding: 0.5em;
  background-color: dodgerblue;
  border:none;
  color:white;
  border-radius: 15px;
}

.cardsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5em;

  .userCard {
    font-size: 0.9em;
    background-color: antiquewhite;
    width: 250px;

    .bold {
      font-weight: bold;
    }
  }
}